.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
  font-size: 30px;
  text-align: center;

  input {
    margin-top: 10px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #eeeaf3;
  }

  .hint {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 18px;
  }
}
