.buttons {
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  animation-fill-mode: forwards;
  &:hover {
    animation: changeButtonColor 0.1s ease-in forwards;
  }

  &:focus {
    animation: clickedButton 0.2s ease-in;
  }
}

@keyframes clickedButton {
  0% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(3px);
  }
}

@keyframes changeButtonColor {
  0% {
    background-color: white;
  }

  100% {
    background-color: rgba(251, 179, 153, 0.536);
  }
}
