.buttonsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .groupTitle {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .buttonsSelection {
    display: flex;
    justify-content: space-around;
    width: 100%;

    & > * {
      flex-basis: 25%;
    }
  }
}
