.triangle {
  height: 0;
  width: 0;
  position: absolute;
  display: flex;
  font-size: 10px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;

  span {
    opacity: 1;
    margin-top: 30px;
  }
}
