.container {
  background-color: #dfdbe5;
  border: 2px solid rgba(0, 0, 0, 0.318);
  border-radius: 10px;
  animation: showingUp 1s ease-in;
  position: relative;
}

@keyframes showingUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
