.dataSet {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
  & > * {
    margin: 5px;
  }

  .itemInfo {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    & > * {
      flex-basis: 40%;
    }
  }
}
