@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fjalla One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
